@import url(https://fonts.googleapis.com/css?family=Irish+Grover);
.navigation a {
  margin-left: 20px;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Irish Grover";
  color: #004d28;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}
.content {
  background-color: #004d28;
  padding: 15px;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}
.contactInfo {
  text-align: center;
}
