@import url(https://fonts.googleapis.com/css?family=Meddon);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
body {
  background-color: black;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
.content {
  margin: 0 auto;
  text-align: center;
}
.image {
  background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/5/53/Ceasetobegin.jpg/330px-Ceasetobegin.jpg");
  margin: 0 auto;
  height: 330px;
  width: 330px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
  background-color: white;
  color: black;
}
table {
  width: 60%;
  background-color: #457371
}
thead {
  background-color: grey;
}
tbody {
  font-style: italic;
}
#albumName {
  font-family: "Meddon";
}
.bandList {
  font-style: italic;
}
h3 {
    font-family: "Libre Baskerville";
}
