@import url(https://fonts.googleapis.com/css?family=Irish+Grover);
.navigation a {
  margin-left: 20px;
  font-size: large;
  color: black;
}
.navigation a:visited {
  color: #004d28;
}
.navigation a:hover {
  font-weight: bold;
}
.navigation a:active {
  text-decoration: none;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Irish Grover";
  color: #004d28;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}
h2 {
  text-align: center;
  color: #004d28;
}
h3 {
  font-size: 250%;
  text-decoration: underline;
}
.content {
  background-color: #004d28;
  padding: 15px;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}
.row-centered {
  text-align: center;
}
.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
}
.leftSide {
  text-align: right;
  font-weight: bold;
}
.rightSide {
  text-align: left;
  padding-left: 10px
}
.contactInfo {
  text-align: center;
}
