body {
  text-align:center;
}
input {
  border: 1px solid black;
}
button {
  padding: 10px 50px 10px 50px;
  border: 1px solid black;
}
#resultsDiv {
  margin: 30px 0;
  text-align: center;
}
table, th, td {
  border: 1px solid white;
}
table {
  display:inline-block;
  padding: 0 10px 10px 10px;
  background-color: #e8e8e8;
}
th {
  background-color: #d0d0d0;
}
caption {
  text-decoration: underline;
  background-color: #e8e8e8;
}
