@import url(https://fonts.googleapis.com/css?family=Meddon);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
body {
  background-color: black;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
.content {
  margin: 0 auto;
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
  background-color: white;
  color: black;
}
table {
  background-color: black;
}
.table-striped > tbody > tr:nth-child(odd) {
  color: black;
}
.table-centered {
  margin: 0 auto;
}
.table-centered caption {
  margin: 0 auto;
  text-align: center;
  color: white;
}
thead {
  background-color: grey;
}
tbody {
  font-style: italic;
}
th, td {
  text-align: center;
}
#albumName {
  font-family: "Meddon";
}
.bandList {
  font-style: italic;
}
h3 {
    font-family: "Libre Baskerville";
}
